<section class="about">
  <div class="spacing"></div>
  <div class="about-header">
    <h1>About This Assignment</h1>
  </div>
  <div class="intro">
    <p>
      This is Angular Assignment created by Ayush Rameja. The main purpose of
      this assignment is to know how angular project is structured and how to
      implement basic signIn/signUp works along with how routing works with
      guards in angular.
    </p>
  </div>
  <div class="btn">
    <a href="https://github.com/RamejaAyush/angular-assignment"
      >GitHub for Source Code</a
    >
  </div>
</section>
