<section class="dashboard">
  <div class="spaceForNav"></div>
  <div class="main">
    <div class="header-dashboard">
      <h1>Dashboard</h1>
      <div class="buttons">
        <button class="edit" (click)="changeEditState()">
          <i class="fas fa-edit"></i>Edit
        </button>

        <button class="add" (click)="goToAddItem()">
          <i class="fas fa-plus-square"></i>Add
        </button>
      </div>
    </div>
    <div *ngIf="displayMessage" class="add-message">
      <h1>No Items to show. Add some</h1>
    </div>
    <div *ngIf="!displayMessage" class="all-items">
      <div class="item" *ngFor="let item of ItemService.Items">
        <div class="item-header">
          <input
            *ngIf="editable"
            class="editable"
            type="text"
            #newName
            value="{{ item.name }}"
          />
          <input
            readonly
            *ngIf="!editable"
            type="text"
            value="{{ item.name }}"
          />
        </div>
        <div class="item-desc">
          <textarea
            *ngIf="!editable"
            readonly
            value="{{ item.desc }}"
          ></textarea>
          <textarea
            class="editable"
            *ngIf="editable"
            value="{{ item.desc }}"
          ></textarea>
        </div>
        <div class="item-price">
          <input
            type="text"
            readonly
            *ngIf="!editable"
            value="Rs {{ item.price }}"
          />
          <input
            class="editable"
            type="number"
            *ngIf="editable"
            value="Rs {{ item.price }}"
          />
        </div>
        <div class="delete">
          <button (click)="ItemService.deleteItem(item)">delete</button>
        </div>
      </div>
    </div>
  </div>
</section>
