<section class="dashboard">
  <div class="spaceForNav"></div>
  <div class="main">
    <div class="header-dashboard">
      <h1>Dashboard</h1>
      <div class="buttons">
        <button class="add"><i class="fas fa-plus-square"></i>Add</button>
      </div>
    </div>
    <div class="all-items">
      <div class="item" *ngFor="let item of ItemService.Items">
        <div class="item-header">
          <input
            readonly
            *ngIf="!editable"
            type="text"
            value="{{ item.name }}"
          />
          <input
            *ngIf="editable"
            class="editable"
            type="text"
            value="{{ item.name }}"
          />
        </div>
        <div class="item-desc">
          <textarea
            *ngIf="!editable"
            readonly
            value="{{ item.desc }}"
          ></textarea>
          <textarea
            class="editable"
            *ngIf="editable"
            value="{{ item.desc }}"
          ></textarea>
        </div>
        <div class="item-price">
          <input
            type="text"
            readonly
            *ngIf="!editable"
            value="Rs {{ item.price }}"
          />
          <input
            class="editable"
            type="text"
            *ngIf="editable"
            value="Rs {{ item.price }}"
          />
          <button (click)="ItemService.deleteItem(item)">delete</button>
        </div>
      </div>
    </div>
  </div>
</section>
