<section class="sign-up-form">
  <div class="form">
    <div class="form-header">
      <h1>Create Account</h1>
    </div>
    <div class="form-components">
      <div class="email">
        <p>Email:</p>
        <input type="email" #username required />
      </div>
      <div class="password">
        <p>Password:</p>
        <input type="password" #password required />
      </div>
      <div class="button-section">
        <button
          class="login"
          (click)="AuthService.signUp(username.value, password.value)"
        >
          Sign Up
        </button>
        <p>or <a routerLink="">Login</a></p>
      </div>
    </div>
  </div>
</section>
