<section class="add-form">
  <div class="form">
    <div class="form-header">
      <h1>Add New Product</h1>
    </div>
    <div class="form-components">
      <input type="text" autofocus placeholder="name" #enteredName />
      <input type="text" placeholder="desc" #enteredDesc />
      <input type="number" placeholder="price" #enteredPrice />
      <button
        (click)="ItemService.addItem(enteredName, enteredDesc, enteredPrice)"
      >
        Add Item
      </button>
    </div>
  </div>
</section>
