<section class="sign-in-form">
  <div class="form">
    <div class="form-header">
      <h1>Login</h1>
    </div>
    <div class="form-components">
      <div class="email">
        <p>Email:</p>
        <input type="email" required />
      </div>
      <div class="password">
        <p>Password:</p>
        <input type="password" required />
      </div>
      <div class="button-section">
        <button class="login">Login</button>
        <p>or <a href="#">Make a new account</a></p>
      </div>
    </div>
  </div>
</section>
